body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Georgia;
  font-size: 17px;
}

a {
  color: black;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 5;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  padding: 12px;
}

.navigation {
display: inline-block;
padding: 20px 40px;
}

.navigation span {
  padding: 10px;
}

.column {
  position: relative;
  top: 90px;
  display: flex;
  width: 1280px;
  margin: 0 auto 78px auto;
  justify-content: space-between;
}

.large {
  display: flex;
  flex-direction: column;
  flex: 0 0 630px;
}

.one {
  background-image: url("./images/main-myt.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.two {
  width: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.three {
  background-image: url("./images/fall-myt.png");
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.four {
  background-image: url("./images/cameraman-myt.png");
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.medium {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
}

.five {
  background-image: url("./images/cat-myt.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.small {
  display: flex;
  flex-direction: column;
  flex: 0 0 240px;
}

.bites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.buttons {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  flex-wrap: wrap;
}

.list {
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

footer {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: MediumAquamarine;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
}

.footer_one {
  display: block;
  align-items: baseline;
  justify-content: space-between;
}

.footer_nav {
  display: inline-block;
  font-family: Verdana;
  font-size: 12px;
  padding-left: 25px;
}

.footer_nav span {
  display: inline-block;
  padding: 20px 10px;
}

#footer_title {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 25px;
}

.footer_two {
  font-family: Verdana;
  font-size: 12px;
}
